/* Greyscale */
$black-dark: #000000;
$black-shade-up: #010101;
$black: #222222;
$grey-extra-dark: #666666;
$grey-dark: #999999;
$grey-medium: #cccccc;
$grey-light: #e4e4e4;
$grey-extra-light: #f5f5f5;
$grey-extra-light-shade-down: #fafafa;
$white: #ffffff;

/* System */
$labels: #0101e0;
$labels-shade-up: #0000ff;
$delete: #ef1600;
$delete-light: #fac3be;

/* Alerts/Validation */
$error: #be1200;
$error-light: #efc4bf;
$error-extra-light: #fcf3f2;
$info: #3498db;
$info-light: #cce5f6;
$info-extra-light: #f5fafd;
$success: #1a901a;
$success-light: #c4e2c4;
$success-extra-light: #f2f8f2;

/* Status */
$rejected: #ef1600;
$changes: #ff8900;
$failed: #9d2633;
$progress: #c5633e;
$finished: #416e44;
$approved: #24a724;
$draft: #666666;
$change-draft: #666666;
$change-cancelled: #222222;
$under-review: #666666;
$not-implemented: #666666;

$cool-green: #1b9c13;

$neutral: #676a70;
$primary-note: #d0d0d0;
$primary-cooled: #9ba2b0;

/* Color Scheme */

$theme-primary: #222933;
$theme-primary-shade-up: #333b46;
$theme-blue: #2b68af;
$theme-dark: #1f1f1f;
/* Brand Colors */
$accent: #0286cd;
$red: #c02d28;
