.input-dark {
    line-height: 1.15;
    overflow: visible;
    outline-offset: -2px;
    background: #3e3e3e;
    padding: 10px;
    border: none;
    border-radius: 4px;
    color: #fff;
    width: 300px;
}
