.clickable {
    cursor: pointer;
}
.p-1 {
    padding: 1rem;
}
.p-2 {
    padding: 1.5rem;
}
.p-3 {
    padding: 2rem;
}
.pb-0 {
    padding-bottom: 0 !important;
}
.pt-1 {
    padding-top: 1rem;
}
.pb-1 {
    padding-bottom: 1rem;
}
